@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

.dark :root {
    --background: #0a0a0a;
    --foreground: #ededed;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Nunito, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
.topic {
    color: #252525;
    h1 {
        display: inline-block;
        background-color: rgb(233, 244, 249);
        width: auto;
        font-family: "Exo 2", sans-serif;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 1.5em;
        line-height: 1;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 10px;
        border-radius: 15px;
    }

    table {
        width: 100%;
        th {
            padding: 0;
            vertical-align: top;
        }
    }
    h2 {
        background-color: rgb(249, 242, 233);
        display: inline-block;
        padding: 6px 10px;
        border-radius: 15px;
        font-family: "Exo 2", sans-serif;
        font-size: 21px;
        font-weight: 600;
        margin-bottom: 0.5em;
    }

    p {
        margin-bottom: 1em;
        line-height: 25px;
    }

    img {
        max-width: 500px;
        object-fit: cover;
        margin-bottom: 1em;
    }

    ul {
        font-size: 14px;
        font-weight: 400;
        list-style: circle;
        padding-left: 1em;
        margin-bottom: 3em;
        padding: 40px;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #e9f4f9;
        li {
            margin-bottom: 0.5em;
        }
    }
}